body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 10px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

#component-stats {
    border: 1px solid #333;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 200px;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
